body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(0, 0, 0);
    margin-left: 0px;
}

div {
    width: 750px;
    border: 25px solid rgb(0, 0, 0);
    padding: 25px;
    margin: 25px;
}